<!DOCTYPE html>
<html lang="en">

<% if (locals.animal) { %>
    <%= animal.type %>
    <%= animal.name %>
    <%= animal.length %>
    <%= animal.weight %>
    <%= animal.lifespan %>
    <%= animal.food %>
    <%= animal.description %>
    <%= animal.found %>
    <%= animal.image %>
<% } %>

</body>

</html>