<%- include("../partials/head.ejs")  %>
<body class="<%= bodyClass %>">
    <%- include("../partials/header.ejs")  %>
    <%- include("../partials/navigation.ejs")  %>
    <div class="main_container">
        <%- include("../partials/sidebar.ejs")  %>
        <%- include("../partials/maincontent.ejs")  %>
    </div>
    <%- include("../partials/footer.ejs")  %>
</body>
