<%- include("../partials/head.ejs")  %>
<body class="reptiles">
    <%- include("../partials/header.ejs")  %>
    <%- include("../partials/navigation.ejs", {reptiles: 'active'})  %>

    <div class="container">
        <%- include("../partials/sidebar", { animals: reptiles }) %>
        <div class="main_content">
            <h2>Reptiles</h2>
            <p>Reptiles are a diverse class of vertebrates that include snakes, lizards, turtles, and crocodilians. They are primarily characterized by their dry, scaly skin, which provides protection and minimizes water loss. Most reptiles are ectothermic, relying on external heat sources to regulate their body temperature. Reproduction varies among species; while many lay eggs, some, like certain species of boas, give birth to live young. Unlike amphibians, reptiles breathe exclusively through lungs and do not possess gills at any stage of their life cycle. </p>
            <p>Reptiles inhabit a wide range of environments across the globe, from deserts and forests to wetlands and oceans. However, many species face threats due to habitat destruction, pollution, and overexploitation. Conservation efforts are crucial to protect endangered species such as the Kemp’s ridley sea turtle and the Puerto Rican boa. Zoos and wildlife organizations play a vital role in educating the public about reptiles and supporting initiatives to preserve their natural habitats.</p>
             </div>
        </div>
        <%- include("../partials/footer.ejs")  %>
            </body>
            
            </html>